* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.5;
  box-sizing: border-box;
  box-sizing: inherit;
}

body {
  display: block;
  background-color: rgba(255, 255, 255, 0.9);
}

.button {
  display: flex;
  min-width: 100vh;
  padding: 20px;
  filter: blur(0);
  transition: filter 0.5s ease-in-out;

  font-family: sans-serif;
}

.br {
  flex-grow: 1;
  flex-direction: column;
}

.img-pr {
  width: 140px;
  height: 140px;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0.5em 0 1em;
}
